.App {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Name {
    font-size: 5.5rem;
    margin-bottom: 2rem;
}

@media (min-width: 80em) {
    .Name {
        font-size: 8rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 27em) {
    .Name {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

}